.cont{
    margin-left: 40%;
    margin-top: 10%;
}
.calc{
    position:absolute;
    background-color:#cfcbb8;
    width:300px;
    /* height:350px; */
    text-align: center;
    padding: 30px 30px 45px 30px;
    border:solid #000;
    border-radius: 15px;
  }
  #disp{
    display:block;
    height:52px;
    background-color:#000;
    margin:10px;
  }
  .calc button{
    height:54px;
    width:71px;
    background-color:#66caf1;
    
    border-radius: 10px;
    border: solid black;
    margin-top: 5px;
    font-size:30px;
  }
  #ans{
    width:295px;
  }
  #disp{
    font-size:45px;
    text-align:right;
    overflow:auto;
    background-color:rgb(255, 255, 255);
    border: solid black;
    border-radius: 10px;
  }